<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>999146273660-hmqfbsvh0jg4og14cnv0iun90klivu7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999146273660-hmqfbsvh0jg4og14cnv0iun90klivu7e</string>
	<key>API_KEY</key>
	<string>AIzaSyDUh7MvcL1qz4KCEB56lMkLdgVsW6TQN0U</string>
	<key>GCM_SENDER_ID</key>
	<string>999146273660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yongyang.vision</string>
	<key>PROJECT_ID</key>
	<string>visionary-fb085</string>
	<key>STORAGE_BUCKET</key>
	<string>visionary-fb085.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:999146273660:ios:b609e14556a39f61</string>
	<key>DATABASE_URL</key>
	<string>https://visionary-fb085.firebaseio.com</string>
	<key>TRACKING_ID</key>
	<string>UA-74138512-9</string>
</dict>
</plist>
